.container {
  padding-top: 20vh;
  
  .true-carousel {
    transform-style: preserve-3d;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;

    div {
      position: absolute;
      max-width: 600px;
      height: 100%;
      left: 0;
      right: 0;
      transform: scale(.6);
      opacity: 0;
      z-index: -1;
      margin: auto;
      transition: transform .4s ease, opacity .2s, z-index .4s ease;
      box-shadow: 0 20px 30px rgba($color: #000, $alpha: .2);
      border-radius: 50px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        pointer-events: none;
        user-select: none;
      }
    }

    .true-carousel-current {
      transform: translatex(0) scale(1);
      opacity: 1;
      z-index: 1;
    }
    
    .true-carousel-prev {
      transform: translatex(-40%) scale(.8);
      opacity: .4;
      z-index: 0;
    }

    .true-carousel-next {
      transform: translatex(40%) scale(.8);
      opacity: .4;
      z-index: 0;
    }

    .arrow {
      border: none;
      background-color: rgba($color: #000, $alpha: 0.0);
      height: 52px;
      width: 28px;
      background-size: contain;
      cursor: pointer;
    }

    .left-arrow {
      background-image: url("../images/left-arrow.png");
    }

    .right-arrow {
      background-image: url("../images/right-arrow.png");
    }
  }
}