.container {
  transform-style: preserve-3d;

  .true-carousel {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 565px;

    div {
      position: absolute;
      width: 317px;
      height: 100%;
      left: 0;
      right: 0;
      margin: auto;
      transition: transform .4s ease, opacity .2s, z-index .4s ease;
      box-shadow: 0 20px 30px rgba($color: #000, $alpha: .2);
      cursor: pointer;

      img {
        max-width: 500px;
      }
    }

    .true-carousel-current {
      transform: translatex(0) scale(1);
      opacity: 1;
      z-index: 1;
    }
    
    .true-carousel-prev {
      transform: translatex(-40%) scale(.8);
      opacity: .4;
      z-index: 0;
    }

    .true-carousel-next {
      transform: translatex(40%) scale(.8);
      opacity: .4;
      z-index: 0;
    }

    .arrow {
      position: absolute;
      border: none;
      background-color: rgba($color: #000, $alpha: 0.0);
      height: 52px;
      width: 28px;
      background-size: contain;
      cursor: pointer;
    }

    .left-arrow {
      background-image: url("../images/left-arrow.png");
      left: 0;
    }

    .right-arrow {
      background-image: url("../images/right-arrow.png");
      right: 0;
    }
  }
}